/**
 * This is the only SCSS file which should contain
 * project-specific styles.
 *
 */
html {
  font-size: medium; }

body {
  font-family: Karla,"Helvetica Neue",Arial,sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
  text-rendering: optimizelegibility;
  color: #031e39;
  background-color: #fafaee;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h2 {
  font-family: Lunchbox,"Helvetica Neue",Arial,sans-serif;
  font-size: 3rem;
  margin: 1.2em 0 0.6em 0; }

a:link {
  color: #b84f2d; }
a:visited {
  color: #b84f2d; }
a:hover {
  color: #6c0f0f; }
a:active {
  color: #b84f2d; }

ul {
  padding-left: 20px; }

#mainNavigation {
  background: #041221;
  border: none; }
  #mainNavigation .avatar {
    height: 100%;
    border-radius: 100%; }
  #mainNavigation .navbar-brand {
    color: #fff;
    font-size: 120%; }
  #mainNavigation .nav a {
    font-family: Lunchbox,"Helvetica Neue",Arial,sans-serif;
    font-size: 1.6rem;
    color: #dce2b1;
    transition: all 0.2s ease 0s; }
  #mainNavigation .nav a:hover {
    transform: scale(1.2) translateZ(0px); }
  #mainNavigation .nav .active a {
    color: #eead5e;
    background: none;
    border-bottom: 4px solid #eead5e; }
  #mainNavigation .nav .active a:hover {
    transform: none; }

.splash-header {
  font-size: 2.4rem;
  padding-bottom: 60px;
  padding-top: 60px;
  margin-top: 40px;
  background-color: #6c0f0f;
  background-image: linear-gradient(to bottom, #6c0f0f 0px, #991515 100%);
  background-repeat: repeat-x;
  color: #FFFFFF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

.splash-header h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #FFFFFF; }

.splash-header p {
  font-size: 1.4rem;
  opacity: 0.6; }

#sidebar {
  padding-top: 40px;
  position: relative; }
  #sidebar .sidebar-content.affix {
    position: fixed;
    top: 70px; }

#sidebar .nav li a {
  margin: 2px 0; }
#sidebar .nav li.active > a {
  border-left: 3px solid #6c0f0f;
  border-bottom: 1px solid #6c0f0f;
  color: #6c0f0f; }
#sidebar .nav li.subsection a {
  display: block;
  padding-left: 2em;
  font-size: 80%; }
#sidebar .nav li.subsection.active a {
  border: 0;
  background-color: rgba(108, 15, 15, 0.1);
  color: #6c0f0f; }

#pageContent {
  margin-top: 40px; }
  #pageContent p {
    margin: 0 0 15px 0; }
  #pageContent > p:first-of-type {
    color: #6c0f0f;
    font-size: 120%;
    margin: 0 0 20px 0; }

.footer {
  background: #6c0f0f;
  padding: 30px 0;
  margin-top: 50px; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #dd1144; }

/* Literal.String */
.highlight .na {
  color: teal; }

/* Name.Attribute */
.highlight .nb {
  color: #0086b3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: teal; }

/* Name.Constant */
.highlight .ni {
  color: purple; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: navy; }

/* Name.Tag */
.highlight .nv {
  color: teal; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #dd1144; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #dd1144; }

/* Literal.String.Char */
.highlight .sd {
  color: #dd1144; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #dd1144; }

/* Literal.String.Double */
.highlight .se {
  color: #dd1144; }

/* Literal.String.Escape */
.highlight .sh {
  color: #dd1144; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #dd1144; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #dd1144; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #dd1144; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: teal; }

/* Name.Variable.Class */
.highlight .vg {
  color: teal; }

/* Name.Variable.Global */
.highlight .vi {
  color: teal; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
.reveal {
  width: 70%; }

.inline-notes {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  background: #fff;
  z-index: 8;
  padding: 20px 30px;
  box-sizing: border-box; }

.reveal .slides > section {
  padding: 0; }
  .reveal .slides > section p {
    margin: 0; }
