// start content
html {
	font-size: medium;
}

body {
	font-family: Karla,"Helvetica Neue",Arial,sans-serif;
    font-size: 1.125rem;
    line-height: 1.4;
    text-rendering: optimizelegibility;
	color: rgb(3, 30, 57);
	background-color: rgb(250, 250, 238);
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h2 {
	font-family: Lunchbox,"Helvetica Neue",Arial,sans-serif;
	font-size: 3rem;
	margin: 1.2em 0 0.6em 0;
}

a {
	&:link {
		color: $link-color;
	}

	&:visited {
		color: $link-visited;
	}

	&:hover {
		color: $link-hover;
	}

	&:active {
		color: $link-active;
	}

}

ul {
	padding-left: 20px;
}