.splash-header {
	font-size: 2.4rem;
    padding-bottom: 60px;
    padding-top: 60px;
    margin-top: 40px;
    background-color: $splash-header-color;
    background-image: linear-gradient(to bottom, $splash-header-color 0px, lighten($splash-header-color, 10%) 100%);
    background-repeat: repeat-x;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.splash-header h1 {
	font-size: 3rem;
	font-weight: bold;
	color: #FFFFFF;
}

.splash-header p {
	font-size: 1.4rem;
	opacity: 0.6;
}