/**
 * This is the only SCSS file which should contain
 * project-specific styles.
 *
 */

$splash-header-color: #6C0F0F;

$heading-color: #333;

$link-color: #B84F2D;
$link-hover: #6C0F0F;
$link-active: #B84F2D;
$link-visited: #B84F2D;

$first-paragraph-color: #6C0F0F;
