/**
 * Gather Workshops theme for reveal.js.
 * Author: Gather Workshops
 */
@import url("http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic");
.reveal section p {
  margin-top: 1em;
  margin-bottom: 0.4em; }
.reveal section img {
  border: 0 !important;
  box-shadow: none !important;
  background: transparent !important; }
.reveal pre {
  margin: 0 0;
  margin-bottom: 1em;
  font-size: 1.2em;
  width: 100%; }
  .reveal pre code {
    padding: 10px;
    font-size: inherit;
    background-color: #3F3F3F; }
.reveal code {
  font-size: 120%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6px; }
.reveal .default-slide,
.reveal .centered-slide {
  line-height: 1.4;
  text-align: left; }
  .reveal .default-slide h2,
  .reveal .centered-slide h2 {
    font-size: 1.8em;
    font-weight: bold;
    border-bottom: none;
    padding-top: 100px;
    padding-bottom: 30px;
    text-transform: uppercase;
    padding: 0.1em 0.5em;
    background: #dce2b1;
    margin-left: -0.5em;
    margin-bottom: 1.5em;
    display: inline-block;
    position: relative;
    top: 20px;
    			/*&:before, &:after {
    				content: "";
    				position: absolute;
    				display: block;
    				border-style: solid;
    				border-color: rgb(220,226,177) transparent transparent transparent;
    				top: 0;
    				left: 100%;
    				border-width: 1em;
    				margin-left: -1em;
    			}
    
    			&:after {
    				border-color: transparent transparent rgb(220,226,177)  transparent;
    				bottom: 0;
    				top: auto;
    			}*/ }
.reveal .centered-slide {
  text-align: center; }
.reveal .title-slide {
  color: #DCE3B2;
  text-shadow: 2px 2px 1px #86201a; }
  .reveal .title-slide h1, .reveal .title-slide h2, .reveal .title-slide h3 {
    color: #DCE3B2;
    font-weight: bold;
    text-shadow: 2px 2px 1px #86201a; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #f3f3da;
  background-color: #f3f3da; }

.reveal {
  font-family: "Karla", sans-serif;
  font-size: 1.75em;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #001e39; }

::selection {
  color: white;
  background: #ff5e99;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #001e39;
  font-family: "Karla", sans-serif;
  line-height: 0.9em;
  letter-spacing: auto;
  text-transform: none;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #de320b;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #f77658;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #952207; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #001e39;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #de320b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #de320b; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #de320b; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #de320b; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #de320b; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #f77658; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #f77658; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #f77658; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #f77658; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #de320b;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #de320b; }
